<div *ngIf="cartService.getItems().length==0; else elseBlock">
  <div class="empty">
    <h1>Your cart is empty!</h1>
    <a href="products">
      <button class="btn"><b>START SHOPPING</b></button>
    </a>
  </div>
</div>
<ng-template #elseBlock>
  <div class="background">
  <div class="all">
  <div class="container">
  <p id="h1">Your cart: </p>
  <div *ngFor="let product of cartService.getItems()">
    <div class="product">
      <img ngSrc="{{product.image}}" width="200" height="200">
      <div class="details">
        <p>{{product.name}}</p>
        <p>Size: {{product.size}}</p>
        <p>Quantity: {{product.quantity}}</p>
        <button id="btn1" (click)="removeItem(product)">X Remove</button>
      </div>
      <p id="price">{{product.price}}$
    </div>
  </div>
  </div>
    <div class="checkout">
      <h1>Order:</h1>
      <div class="content">
      @for( product of cartService.getItems(); track product.id){
        <p>{{product.quantity}} x {{product.name}}</p>
        <p>{{product.price}}$</p>
      }
        <p>Shipping cost: {{shipping}}$</p>
      </div>
      <h1>Total: {{price}}$</h1>
      <button id="check" (click)="checkout()" >CHECK OUT</button>
    </div>
  </div>
  </div>
</ng-template>
