.empty {
  margin-left: 300px;
  margin-top: 100px;
}
.btn{
  margin-top: 20px;
  height: 60px;
  width: 250px;
  font-size: 23px;
  cursor: pointer;
  background-color: green;
  color: white;
}
#btn1{
  background-color: white;
  height: 30px;
  width: 100px;
  font-family: "Markl Mono", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
#btn1:hover{
  background-color: red;
  cursor: pointer;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 150px;
  background-color: white;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px ;
  padding-top: 20px;
  font-size: 20px;
}
.product{
  display: flex;
  gap: 30px;
  align-items: center;
}
.all{
  display: flex;
  background-color: #e8e8e8;
  gap: 20px;
}
.checkout{
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 50vh;
  background-color: white;
}
.content{
  margin-left: 10px;
  color: darkslategray;
}
#check{
  background: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 30px;
}
#check:hover{
  cursor: pointer;
  background-color: #e8e8e8;
}
.details{
  display: flex;
  flex-direction: column;
}
.details p{
  margin: 0px;
}
#h1{
  margin: 0;
  font-size: 40px;
}
#price{
  margin-left: auto;
}
