.container{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.text{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  font-size: 20px;
  padding-left: 50px;
}
#btn{
  background: none;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border-radius: 20px;
  font-family: "Markl Mono", sans-serif;
}
#btn:hover{
  cursor: pointer;
}
.sizes{
  display: flex;
  gap: 10px;
}
.sizes input{
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 30px;
  border-style: solid;
  border-color: black ;
  cursor: pointer;
  outline: none;
}
.sizes input:focus-visible{
}
#sz{
  font-size: 20px;
}
.quantity{
  display: flex;
  align-items: center;
  font-size: 20px;
}
.quantity button{
  background: none;
  height: 40px;
  width: 40px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.text p, h1,h3{
  margin: 0;
}
#t1{
  font-size: 30px;
}
.options{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.images{
  margin-left: 100px;
  outline: 0.01rem;
  outline-style: solid;
}

