<div class="container">
  <div class="images">
    <img ngSrc="{{product.image}}" width="500" height="500">
  </div>
  <div class="text">
    <h1 id="t1">{{product.name}}</h1>
    <h3>{{product.price}}$</h3>
    <div class="options">
      <p id="sz">Select Size: {{size}}</p>
      <div class="sizes" tabindex="0">
        <input value="XS" id="XS" readonly (selectionchange)="changeSize($event)">
        <input value="S" id="S" readonly (selectionchange)="changeSize($event)">
        <input value="M" id="M" readonly (selectionchange)="changeSize($event)">
        <input value="L" id="L" readonly (selectionchange)="changeSize($event)">
        <input value="XL" id="XL" readonly (selectionchange)="changeSize($event)">
      </div>
    </div>
    <div class="quantity">
      <p>Quantity:</p>
      <button (click)="subQuantity()">-</button>
      <p>{{quantity}}</p>
      <button (click)="addQuantity()">+</button>
    </div>

    <button id="btn" (click)="addToCart()">Add To Cart</button>
  </div>
</div>
