.all{
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
}
.item{
  display: flex;
  flex-direction: column;
  outline-style: solid;
  outline-width: 0.01rem;
  align-items: center;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.bot {
  display: flex;
  width: 100%;
  font-size: 18px;
  justify-content: center;
}

.filters{
  width: 300px;
  text-align: center;
  outline-style: solid;
  outline-width: 0.01rem;
}
.category{
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: solid;
  border-top: solid;
  border-width: 0.01rem;
}
.cat-item{
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  width: auto;
  height: 30px;
  align-items: center;
}
.cat-item:has(input:checked){
  background-color: #e8e8e8;
}
.filters button{
  margin-top: 30px;
  background: none;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Markl Mono", sans-serif;
}

.filters button:hover{
  background-color: #e8e8e8;
}

