nav{
  min-height: 10vh;
  outline-style: solid;
  outline-width: 0.01rem;
  display: flex;
  align-items:center;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-evenly;
  background-color: #181818;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}
#searchbar{
  width: 600px;
  height: 35px;
  border-radius: 30px;
  padding-left: 15px;
}
.right{
  display: flex;
  gap: 50px;
}
.container{
  margin-left: 195px;
}

.src_elem{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 590px;
  margin-left: 14px;
}
.elem{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  height: 150px;
  outline: solid;
  background: #181818;
  color: white;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  cursor: pointer;
}

#logo{
  filter: invert(1);
}
